<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
    </head>
    <body>
        {% if all_users %}
        <ul>
            {% for user in all_users %}
            <li>
                <a href="/analyze/{{ user.id }}/">{{ user.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </body>
</html>
